{% extends 'base.html.twig' %}

{% block body %}
<div class="col-12">
    <h1>SIP HLM - Gestion Maladie</h1>
</div>
<div class="col-12">
<p>Pour commencer, veuillez-vous connecter</p>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <h5>MAJ du 13 Aout</h5>
            <ul>
                <li>Ajout de la notion de Carence CPAM pour les IJ</li>
                <li>Correction lié à l'envoi de mail lors de l'ajout d'une prolongation</li>
            </ul>
            <br />
            <h5>MAJ du 7 Aout</h5>
            <ul>
                <li>Ajout des arrêts historique en date d'aout 2019</li>
                <li>Ajout des tris pour les liste d'employés</li>
            </ul>
            <br />
            <h5>MAJ du 3 Juin</h5>
            <ul>
                <li>Ajout d'un filtre sur l'etat de l'arret maladie(Actif, clos, litige, sauf clos)</li>
                <li>Ajout d'un filtre par défaut positionné sur "Sauf clos"</li>
            </ul>
            <br />
            <h5>MAJ du 27 Mai</h5>
            <ul>
                <li>Correction et amélioration de la pagination</li>
            </ul>
            <br />
            <h5>MAJ du 15 Mai</h5>
            <ul>
                <li>Ajout de tous les arrêts historique</li>
            </ul>
            <br />
            <h5>Suite au point du 5 février</h5>
            <ul>
                <li>Ajout de la liste des coefficients et changement des méthodes de calculs</li>
                <li>Ajout d'un compteur de prélèvement à la source de 60 jours</li>
                <li>Ajout d'une alerte pour la prévoyance des le 31eme jour pour les cadres et le 91eme jours pour les autres</li>
                <li>Ajout du concept de "rechute"</li>
                <li>Ajout des indemnités journalières de prevoyance</li>
                <li>Ajout d'une zone de commentaires</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}