{% extends 'baseadmin.html.twig' %}

{% block title %}Gestion Maladie - Administration{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Gestion Maladie - Administration</h1>

    Dans cette interface, vous pouvez:
    <ul>
        <li>Gérer les utilisateurs <code><a href="{{ path('adminUsers') }}">src/Controller/AdministrationController.php</a></code></li>
    </ul>
</div>
{% endblock %}
